.el-tooltip__popper{
  @extend .tooltip-inner;
  border: none !important;
}

.el-tooltip__popper.is-dark{
  background-color: $black-color;
}

.el-tooltip__popper.is-light{
  &[x-placement^=bottom] .popper__arrow,
  &[x-placement^=bottom] .popper__arrow::after{
    border-bottom-color: white;
  }

  &[x-placement^=top] .popper__arrow,
  &[x-placement^=top] .popper__arrow::after{
    border-top-color: white;
  }

  &[x-placement^=left] .popper__arrow,
  &[x-placement^=left] .popper__arrow::after{
    border-left-color: white;
  }

  &[x-placement^=right] .popper__arrow,
  &[x-placement^=right] .popper__arrow::after{
    border-right-color: white;
  }
}
